//About Section
#about{
	height:@about-height;
	margin-top: 3%;

	h1,h4{
		text-align: center;
	}
	h1{
		letter-spacing: 11px;
		font-size: 50px;
		font-weight: 400;
		margin-top:3%;
	}
	h4{
		.Raleway;
		letter-spacing: 5px;
		font-weight: 300;
		margin-bottom:2%;
	}
	p{
		text-align: justify;
		font-size:100%;
	}
	img{
		.BoxShadow;
		width:50%;
		height:auto;
		margin:2% auto 0% auto;
		display:block;
	}
	#about-body{
		height:@about-height*0.8;
		overflow:hidden;
		a{
			text-decoration: none;
		}
	}
	#about-picture{
		.caption{
			.CapFormat;
			text-align: center;
			margin-bottom: 2%;
		}
	}
}
//End About