<!doctype html>
<head>
  <meta charset="utf-8">
  <title></title>
  <!-- Fonts -->
<link href='https://fonts.googleapis.com/css?family=EB+Garamond|Raleway:400,400italic,500,500italic,700,300|Josefin+Sans:400,600,400italic,700|Quicksand:400,700|Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <!-- endFonts -->


  <!-- bower:css -->
  <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css?h=8eb176c7" />
<!--   <link rel="stylesheet" href="../../bower_components/videojs/dist/video-js/video-js.css?h=2c7e886e" />
  <link rel="stylesheet" href="../../bower_components/flat-ui/dist/css/flat-ui.css?h=288987af" /> -->
  <link rel="stylesheet" href="../../bower_components/components-font-awesome/css/font-awesome.css?h=b4886004" />
  <!-- endbower-->
    <link rel="stylesheet" href="../../static/css/style.css?h=8bc699d1">
</head>

<!-- bower:js -->

  <script src="../../bower_components/jquery/dist/jquery.js?h=09b2fbec"></script>

<script src="../../bower_components/bootstrap/dist/js/bootstrap.js?h=8cf4186c"></script>
<!-- <script src="../../bower_components/videojs/dist/video-js/video.js?h=89562bc3"></script>
<script src="../../bower_components/flat-ui/dist/js/flat-ui.js?h=8db8b80c"></script> -->
<!-- endbower -->



<!--livereload-->
<script src="//localhost:35729/livereload.js"></script>
<!--endlivereload-->

<body>
  <header>
  
<nav id="wiki_nav" class="navbar navbar-default navbar-fixed-top" role="navigation"> 
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#wiki_nav_div">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../../">
            
                <img src=../../images/header/philshore-logo.png alt="PhilSHORE">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="wiki_nav_div">
            <ul class="nav navbar-nav navbar-right">
            <li><a href="../../">HOME</a></li>
            <li 
              
                class="dropdown" 
              
            >
              <a class="dropdown-toggle" data-toggle="dropdown" href="/">ABOUT
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                
                  <li><a href="../../about/">ABOUT PHILSHORE</a></li>
                
                  <li class="active"><a href="../../component/">PROJECT COMPONENTS</a></li>
                
                  <li><a href="../../team/">TEAM</a></li>
                
              </ul>
              </li>
              
                <li><a href="../../philshore-tool/">MSP TOOL</a></li>
              
                <li><a href="../../gallery/">GALLERY</a></li>
              
                <li><a href="../../faq/">FAQS</a></li>
              
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
    </nav>
  
  </header>

  <div>
    <!--Header Block-->
    
      <div id="intro" class="row"

      
        style="background-image: url('https://raw.githubusercontent.com/philshore/cdn/master/images/header/about.jpg');background-position: center;"
      
      >
        <h4>MARINE SPATIAL PLANNING TOOL</h4>
        <h1>MSP TOOL</h1>
        <p>WebGIS Platform for tidal in-stream current energy development</p>
      </div>
    
    <!--endIntroBlock-->

    <!--Body Block-->
    
  
  <div id=sitedevice class="macro_component_content row">
  
    <div class="col-md-8">
      <h2>Site-Device Matching</h2>

      
            <h3>Engr. Michael Bausas</h3>
      

        <p><p>After potential sites have been identified, performance analysis of various tidal in-stream energy conversion technologies (TISEC) was done.  A working list of 22 TISEC devices was adopted for analysis.  The list was based from a shortlisting made by the International Renewable Energy Agency (IRENA) in 2014, wherein active TISEC device developers were identified using different criteria – project development; technology classification; evidence of a modelling program; and full-scale.</p>
<p>A comprehensive survey on the technical/operational, as well as economic characteristics of these pre-identified TISEC devices was carried out to develop a TISEC devices database.  The performance analysis of the devices at a given tidal site (based from site resource and suitability analysis) was based on three main factors, namely: annual energy yield, capacity factor and availability factor.  It was originally intended to include the economic characteristics of the devices in the analysis, for the purpose of cost comparison, but was later shelved due to the unavailability of the necessary data.</p>
</p>
    </div>
    <div class="col-md-4">
      <img src=https://raw.githubusercontent.com/philshore/cdn/master/images/page_component/dev_2.png>
<p class="caption">A sample rotor of a tidal turbine</p>
    </div>
  
  </div>


    <!--endBodyBlock-->

    <!--Footer Block-->
    
    <footer class="row" id="footer">
      <div class="col-md-4">
        <p id="footer_copy">&copy; Copyright 2016 by PhilSHORE</p>
        <p><i class="fa fa-phone"></i> 981-8500 local 3147</p>
        <p><i class="fa fa-envelope"></i> philshoreteam@gmail.com</p>
      </div>
      <div class="col-md-8">
        
        
        <img id ="footer_logos" src=../../about_logos_ds.png>
      </div>
    </footer>
    
    <!--endFooterBlock-->
    
  </div>
</body>




