<!doctype html>
<head>
  <meta charset="utf-8">
  <title></title>
  <!-- Fonts -->
<link href='https://fonts.googleapis.com/css?family=EB+Garamond|Raleway:400,400italic,500,500italic,700,300|Josefin+Sans:400,600,400italic,700|Quicksand:400,700|Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <!-- endFonts -->


  <!-- bower:css -->
  <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css?h=8eb176c7" />
<!--   <link rel="stylesheet" href="../../bower_components/videojs/dist/video-js/video-js.css?h=2c7e886e" />
  <link rel="stylesheet" href="../../bower_components/flat-ui/dist/css/flat-ui.css?h=288987af" /> -->
  <link rel="stylesheet" href="../../bower_components/components-font-awesome/css/font-awesome.css?h=b4886004" />
  <!-- endbower-->
    <link rel="stylesheet" href="../../static/css/style.css?h=8bc699d1">
</head>

<!-- bower:js -->

  <script src="../../bower_components/jquery/dist/jquery.js?h=09b2fbec"></script>

<script src="../../bower_components/bootstrap/dist/js/bootstrap.js?h=8cf4186c"></script>
<!-- <script src="../../bower_components/videojs/dist/video-js/video.js?h=89562bc3"></script>
<script src="../../bower_components/flat-ui/dist/js/flat-ui.js?h=8db8b80c"></script> -->
<!-- endbower -->



<!--livereload-->
<script src="//localhost:35729/livereload.js"></script>
<!--endlivereload-->

<body>
  <header>
  
<nav id="wiki_nav" class="navbar navbar-default navbar-fixed-top" role="navigation"> 
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#wiki_nav_div">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../../">
            
                <img src=../../images/header/philshore-logo.png alt="PhilSHORE">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="wiki_nav_div">
            <ul class="nav navbar-nav navbar-right">
            <li><a href="../../">HOME</a></li>
            <li 
              
                class="dropdown" 
              
            >
              <a class="dropdown-toggle" data-toggle="dropdown" href="/">ABOUT
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                
                  <li><a href="../../about/">ABOUT PHILSHORE</a></li>
                
                  <li class="active"><a href="../../component/">PROJECT COMPONENTS</a></li>
                
                  <li><a href="../../team/">TEAM</a></li>
                
              </ul>
              </li>
              
                <li><a href="../../philshore-tool/">MSP TOOL</a></li>
              
                <li><a href="../../gallery/">GALLERY</a></li>
              
                <li><a href="../../faq/">FAQS</a></li>
              
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
    </nav>
  
  </header>

  <div>
    <!--Header Block-->
    
      <div id="intro" class="row"

      
        style="background-image: url('https://raw.githubusercontent.com/philshore/cdn/master/images/header/about.jpg');background-position: center;"
      
      >
        <h4>MARINE SPATIAL PLANNING TOOL</h4>
        <h1>MSP TOOL</h1>
        <p>WebGIS Platform for tidal in-stream current energy development</p>
      </div>
    
    <!--endIntroBlock-->

    <!--Body Block-->
    
  
  <div id=sitesuitability class="macro_component_content row">
  
    <div class="col-md-8">
      <h2>Site-Suitability Analysis</h2>

      
            <h3>Joselito Cruz</h3>
      

        <p><p>In coordination with the Department of Science and Technology, UP College of Geodetic Engineering, the Training Center for Applied Geodesy and Photogrammetry,and  Marine Science Institute, was contracted to develop a tool for local governments that would assist in the developing a renewable tidal current energy integrated resource assessment and spatial planning tool. In particular, the agencies wanted to develop a potential site suitability for some renewable resources. This was accomplished by gathering available data sets and developing geographic information system (GIS) data layers that can be used to determine the suitability of a shoreline for tidal current energy development. Using landscape and seascape areas, and bathymetric data, this GIS modeling effort results in a mapping scheme showing color-coded segments, point-polygon and rasters data for the gathered data came from other local government agencies for renewable resource site suitability assessment.</p>
<p>This also need for implementing the Analytic Hierarchy Process (AHP). AHP helps the decision-makers to choose the best solution from several options and selection criteria. It is also used as a decision-making method for broading the applications in operations research and quality engineering. This will model AHP that can generate output that includes measures weights of criteria and selection importance and data consistency.</p>
</p>
    </div>
    <div class="col-md-4">
      <img src=https://raw.githubusercontent.com/philshore/cdn/master/images/page_component/site1.png>
<p class="caption">Sample data from the Bureau of Fisheries and Aquatic Resources (BFAR)</p>
    </div>
  
  </div>


    <!--endBodyBlock-->

    <!--Footer Block-->
    
    <footer class="row" id="footer">
      <div class="col-md-4">
        <p id="footer_copy">&copy; Copyright 2016 by PhilSHORE</p>
        <p><i class="fa fa-phone"></i> 981-8500 local 3147</p>
        <p><i class="fa fa-envelope"></i> philshoreteam@gmail.com</p>
      </div>
      <div class="col-md-8">
        
        
        <img id ="footer_logos" src=../../about_logos_ds.png>
      </div>
    </footer>
    
    <!--endFooterBlock-->
    
  </div>
</body>




